<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Parking</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Parking</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/auth/profile/edit}" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <form action="#" th:action="@{/auth/logout}" method="post" style="display:inline;">
                        <button type="submit" class="nav-link btn btn-link">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Create Parking</h2>

            <!-- Display error message if exists -->
            <div th:if="${error}" class="alert alert-danger" role="alert">
                <span th:text="${error}"></span>
            </div>

            <!-- Signup form -->
            <form th:action="@{/auth/create}" th:object="${createTableDto}" method="post">
                <div class="mb-3">
                    <label for="totalSpots" class="form-label">Total Spots</label>
                    <input type="number" class="form-control" id="totalSpots" th:field="*{totalSpots}" placeholder="Enter Parking Total Spots" required>
                </div>

                <div class="mb-3">
                    <label for="availableSpots" class="form-label">Available Spots</label>
                    <input type="number" class="form-control" id="availableSpots" th:field="*{availableSpots}" placeholder="Enter Parking Available Spots" required>
                </div>


                <div class="mb-3">
                    <label for="latitude" class="form-label">Latitude</label>
                    <input type="number" class="form-control" id="latitude" th:field="*{latitude}" step="any" placeholder="Enter Park Latitude" required>
                </div>

                <div class="mb-3">
                    <label for="longitude" class="form-label">Longuitude</label>
                    <input type="number" class="form-control" id="longitude" th:field="*{longitude}" step="any" placeholder="Enter Park Longitude" required>
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" id="price" th:field="*{prix}" step="any" placeholder="Enter Spot's Price" required>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">description</label>
                    <input type="text" class="form-control" id="description" th:field="*{description}" placeholder="Description(exp: Parking Zone A)" required>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap JS (optional) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
